body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;

    margin: 0;

    color: #999;
    background-color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/*Container
==========================*/
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Header
==========================*/
.header {
    padding: 15px 0;
}

.header-inner {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;

    text-transform: uppercase;

    color: #3d3d3d;
}

.header-logo .project {
    color: #eea215;
}

.header-info {
    display: flex;
}

.header-item {
    display: flex;

    color: #3d3d3d;

    align-items: center;
}

.header-item::after {
    display: inline-block;

    width: 1px;
    height: 100%;
    margin-left: 10px;

    content: '';

    background-color: rgba(160, 160, 160, .5);
}

.header-item:last-child::after {
    content: none;
}

.header-icon {
    display: block;

    width: 20px;
    height: 20px;
    margin: 0 10px;
}

/*Intro
==========================*/
.intro {
    height: 100vh;
    padding: 50px 0;

    background: #141414
    url('images/intro-bg.jpg') center no-repeat;
    background-color: rgba(0, 0, 0, .8);
    background-size: cover;

    background-blend-mode: multiply;
}

.intro-nav {
    display: flex;

    justify-content: flex-end;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    position: relative;

    display: flex;

    margin-right: 80px;

    transition: color .1s linear;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;

    justify-content: center;
}

.nav-item::after {
    position: absolute;
    top: 25px;

    display: block;

    width: 0;
    height: 2px;

    content: '';
    transition: width .15s ease-in-out;

    background-color: #eea215;
}

.nav-item:last-child {
    margin: 0;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-item:hover {
    color: #eea215;
}

.intro-inner {
    font-family: 'Monrserrat', sans-serif;

    max-width: 1000px;
    margin: 0 auto;
    padding: 200px 0;

    text-align: center;
}

.intro-title {
    font-size: 60px;
    font-weight: 700;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #eea215;
}

.intro-subtitle {
    font-size: 40px;
    font-weight: 700;

    color: #fff;
}

/*Services
==========================*/
.services {
    padding: 50px 0;
}

/*About
==========================*/
.about {
    padding: 50px 0;
}

.about-inner {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
}

.about-item {
    display: flex;
    flex-direction: column;

    width: 25%;
    padding: 0 30px;

    align-items: center;
    text-align: center;
}

.about-item-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #3d3d3d;
    margin: 5px 0 10px;
}

.about-icon {
    display: block;

    width: 50px;
    height: 50px;

    fill: #eea215;
}
