/*General styles
==========================*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;

    margin: 0;

    letter-spacing: 1.5px;

    color: #707070;
    background-color: #fff;

    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
}

button {
    font: inherit;

    padding: 0;

    color: inherit;
    border: none;
    outline: none;
    background-color: transparent;
}

img {
    display: block;

    width: 100%;
    height: auto;
}

/*Container
==========================*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Common styles
==========================*/
.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;

    text-align: center;
    text-transform: uppercase;

    color: #3d3d3d;
}

.title--line::after {
    display: block;

    width: 60px;
    height: 2px;
    margin: 20px auto 70px;

    content: '';

    background-color: #eea215;
}

.projects .title--line::after {
    margin: 20px auto 30px;
}

/*Buttons
==========================*/
.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    display: inline-block;

    cursor: pointer;
    transition: all .1s linear;
    vertical-align: center;
    text-decoration: none;
}

.btn:hover {
    color: #000;
    background-color: #eea215;
}

.intro--btn {
    font-weight: 700;

    padding: 15px 40px;

    text-transform: uppercase;

    color: rgba(255, 255, 255, .9);
    border: 1px #eea215 solid;
    background-color: rgba(238, 162, 21, .8);
}

.intro--btn:hover {
    transform: translateY(-2px);

    border: 1px #eea215 solid;
}

.about--btn {
    margin: 70px 0 0;
    padding: 12px 50px;

    color: #eea215;
    border: 1px solid #eea215;
}

.about--btn:hover {
    transform: translateY(-2px);

    color: #fff;
}

.services--btn {
    padding: 7px 25px;

    color: #eea215;
    border: 1px solid rgba(238, 162, 21, .4);
}

.services--btn:hover {
    color: #fff;
}

/*Header
==========================*/
.header {
    padding: 15px 0;
}

.header-inner {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;

    text-transform: uppercase;

    color: #3d3d3d;
}

.header-logo .project {
    color: #eea215;
}

.header-info {
    display: flex;
}

.header-item {
    display: flex;

    color: #3d3d3d;

    align-items: center;
}

.header-item::after {
    display: inline-block;

    width: 1px;
    height: 100%;
    margin-left: 10px;

    content: '';

    background-color: rgba(160, 160, 160, .5);
}

.header-item:last-child::after {
    content: none;
}

.header-icon {
    display: block;

    width: 20px;
    height: 20px;
    margin: 0 10px;

    fill: #eea215;
}

/*Intro
==========================*/
.intro {
    height: 100vh;
    padding: 50px 0;

    background: #141414
    url('images/i6.webp') center no-repeat;
    background-color: rgba(0, 0, 0, .5);
    background-size: cover;

    background-blend-mode: multiply;
}

.intro-nav {
    display: flex;

    border-bottom: 1px solid rgba(255, 255, 255, .08);

    justify-content: flex-end;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    position: relative;

    display: flex;

    margin-right: 55px;
    margin-bottom: 5px;

    transition: color .1s linear;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;

    justify-content: center;
}

.nav-item::after {
    position: absolute;
    top: 25px;

    display: block;

    width: 0;
    height: 2px;

    content: '';
    transition: width .15s ease-in-out;

    background-color: #eea215;
}

.nav-item:last-child {
    margin: 0;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-item:hover {
    color: #eea215;
}

.intro-inner {
    font-family: 'Monrserrat', sans-serif;

    max-width: 1000px;
    margin: 0 auto;
    padding: 150px 0;

    text-align: center;
}

/*.intro-title::after {
    position: absolute;
    top: -40px;
    left: 30px;

    display: block;

    width: 50px;
    height: 50px;

    content: none;

    background-color: #eea215;

    clip-path: polygon(100% 0, 100% 14%, 0 14%, 15% 9%, 15% 100%, 0 100%, 0 0);
}

.intro-title::before {
    position: absolute;
    right: 30px;
    bottom: -40px;

    display: block;

    width: 50px;
    height: 50px;

    content: none;
    transform: rotate(180deg);

    background-color: #eea215;

    clip-path: polygon(100% 0, 100% 14%, 0 14%, 15% 9%, 15% 100%, 0 100%, 0 0);
}*/

.intro-title {
    font-size: 50px;
    font-weight: 700;

    position: relative;

    margin-bottom: 20px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #eea215;
    text-shadow: 1px 1px 2px #000;
}

.intro-subtitle {
    font-size: 30px;
    font-weight: 700;

    margin-bottom: 100px;

    color: #fff;
}

/*About
==========================*/
.about {
    padding: 50px 0;

    text-align: center;
}

.about-inner {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
}

.about-item {
    display: flex;
    flex-direction: column;

    width: 25%;
    padding: 0 25px;

    text-align: center;

    align-items: center;
}

.about-item-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    margin: 10px 0 15px;

    color: #3d3d3d;
}

.about-icon {
    display: block;

    width: 50px;
    height: 50px;

    fill: #eea215;
}

.about-txt {
    margin-top: 50px;
}

/*Services
==========================*/
.services {
    padding: 70px 0;

    background-color: #f8f8f8;
}

.services-inner {
    display: flex;

    transform: translateX(20px);

    flex-wrap: wrap;
    justify-content: center;
}

.services-item {
    display: flex;
    flex-direction: column;

    width: 30.33333%;
    margin-right: 33px;
    margin-bottom: 33px;

    transition: all .2s linear;
    text-align: center;

    border: 1px solid rgba(0, 0, 0, .05);

    align-items: center;
}

.services-item:hover {
    transform: translateY(-10px);

    box-shadow: 0 10px 25px -20px rgba(0, 0, 0, .5);
}

.services-item:hover .services-item-title {
    color: #eea215;
}

.services-item:hover .services-item-photo {
    transform: scale(1.1);
}

.services-item-img {
    overflow: hidden;

    width: 100%;
    max-height: 65%;
}

.services-item-photo {
    height: 230px;

    transition: transform .3s ease-out;

    object-fit: cover;
}

.services-item-content {
    padding: 30px 15px;
}

.services-item-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    margin-bottom: 25px;

    color: #3d3d3d;
}

.services-item-btn {
    font-weight: 700;

    text-decoration: none;

    color: #3d3d3d;
}

/*Projects
==========================*/
.projects {
    padding: 70px 0 0;
}

.projects-inner {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;

    text-align: center;
    text-transform: uppercase;

    color: #3d3d3d;
}

.projects-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    margin-bottom: 50px;

    text-align: center;
    text-transform: uppercase;

    color: #3d3d3d;
}

.projects-item {
    position: relative;

    width: 33.33333%;

    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.projects-item-img {
    overflow: hidden;
    /*position: relative;*/

    width: 100%;
    /*padding-top: 66.66%;*/
}

.projects-item-photo {
    height: 300px;
    /*position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/

    transition: transform .2s ease-out;

    opacity: .95;

    object-fit: cover;
}

.projects-item-content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    transition: opacity .3s ease-in-out;

    opacity: 0;
    background-color: rgba(32, 32, 32, .7);

    justify-content: center;
    align-items: center;
}

.projects-item:hover .projects-item-content {
    opacity: 1;
}

.projects-item:hover .projects-item-photo {
    transform: scale(1.1);
}

.projects-item-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;

    margin-bottom: 20px;

    text-transform: uppercase;

    color: #fff;
}

.projects-item-txt {
    display: flex;

    color: rgba(255, 255, 255, .9);

    align-items: center;
}

.projects-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;

    fill: #eea215;
}

/*Reviews
==========================*/
.reviews {
    padding: 70px 0 100px;

    background-color: #f8f8f8;
}

.reviews-slider {
    position: relative;

    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    cursor: grab;

    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.glide__arrow.glide__arrow--left,
.glide__arrow.glide__arrow--right {
    font-size: 20px;

    position: absolute;
    top: 0;
    top: 50%;

    width: 50px;
    height: 50px;

    cursor: pointer;
    transition: all .2s ease;
    transform: translate(0, -50%);

    color: rgba(0, 0, 0, .8);
    border-radius: 50px;
    background-color: rgba(238, 162, 21, .7);
}

.glide__arrow.glide__arrow--left:hover,
.glide__arrow.glide__arrow--right:hover {
    color: #000;
    border-color: #eea215;
    background-color: #eea215;
}

.glide__arrow.glide__arrow--left {
    left: -8%;
}

.glide__arrow.glide__arrow--right {
    right: -8%;
}

.reviews-item {
    position: relative;

    width: 500px;
    height: 300px;

    text-align: center;

    background-color: #fff;
}

.reviews-author {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 0;
    padding: 15px 0;

    color: #fff;
    background-color: #eea215;
}

.reviews-txt {
    padding: 20px 20px 50px;
}

/*Contacts
==========================*/
.contacts {
    padding: 50px 0 0;
}

.contacts-inner {
    background-color: #1c1c1c;
}

.contacts-info {
    display: flex;

    padding: 50px 0;

    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts-item {
    line-height: 1.7;

    display: flex;
    flex-direction: column;

    width: 24%;

    text-align: center;
}

.contacts-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    display: flex;

    margin-bottom: 10px;

    text-transform: uppercase;

    color: #fff;

    justify-content: center;
    align-items: center;
}

.copyright {
    padding: 15px 0;

    text-align: center;

    color: rgba(255, 255, 255, .8);
    background-color: #191919;
}
